*{
	margin: 0px;
}

body{
	background: #292929;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	
}
label{
	font-size: 1.4em;
	text-align: center;
	margin-left: 0.5em;
}

#backlogos{
	position: absolute;
	top: 0px;
	width: 60%;
	z-index: -1;
}

#devLogo, #busLogo{
	/*background: #454545;*/
	display: inline-block;
	width: 30%;
}
#devLogo{
	color: transparent;
     
}
#devLogo .msn{
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	top: 9%;
	left: 39%;
	width: 20%;
	-webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
}
#devLogo .msn2{
	font-size: 32px;
	position: absolute;
	top: 15%;
	left: 41%;
	width: 16%;
	-webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
}

#devLogo:hover {    
    color: #fff; 
} 
#busLogo{
	color: transparent;
     
}
#busLogo .msn{
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	top: 9%;
	left: 39%;
	width: 20%;
	-webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
}
#busLogo .msn2{
	font-size: 32px;
	position: absolute;
	top: 15%;
	left: 41%;
	width: 16%;
	-webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
}

#busLogo:hover {    
    color: #fff; 
} 
#devLogo a img{
	width: 50%;
}
#busLogo a img{
	width: 86%;
}
#logosPortada, #conteoPortada{
	padding-top: 3%;
	text-align: center;
	width: 100%;

}
#logosPortada{margin-bottom: 2%;}
.redes{
	display: inline-block;
	width: 40%;
}
.fb-share-button{
	margin: 0px 8% 0px 9%;
	position: relative;
	top: -4px;
}
#conteoPortada{
	padding-top: 2%; 
}

.bloque{
	display: inline-block;
	font-size: 300%;
	font-style: italic;
	height: 80px;
	margin-top: 1%;
	margin-left: 1%;
	text-shadow: -3px 3px 2px #454545;
	width: 80px;
}
.num{
	margin: 15% 0% 0% -10%;
}
.seg{
	font-size: 25%;
	font-style: normal;
	margin-top: 28%;
}
#dia{
	background: #0083c4;
}
#hora{
	background: #d94b41;
}
#minuto{
	background: #f7c23b;	
}
#segundo{
	background: #06964e;
}

footer{
	/*background: #242424;*/
	position: fixed;
	top: 95%;
	text-align: center;
	height: 5%;
	width: 100%;
}
.footerline{
	width: 50%;
	margin-top: 0.5%; 
	display: inline-block;
}


.redfooter{
	font-size: 13px;
	width: 45%;
	display: inline-block;
	color: #666465;

}
.separador{
	width: 100%;
	text-align: center;
}


/**DEVFEST**/
header{
	background: #292929;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 99;
}
header h1{
	margin: 20px 0px 20px 0px; 
	display: inline-block;
	font-size: 50px;
}
header nav{
	display: inline-block;
	font-size: 1.5em;
	height: 2em;
	width: 60%;
	margin: 10px 0px 0px 0px;
	text-align: center;
}
header nav a{
	font-size: 13px;
	border-radius: 5px;
	color: #FFF;
	display: inline-block;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	-webkit-transition: all 0.1s ease; 
    -moz-transition: all 0.1s ease; 
    -o-transition: all 0.1s ease; 
}
header nav a:hover{
	padding: 10px 15px 10px 15px;
}
#home, #rojo{background: #f04d37;}
#info, #azul{background: #5780bd;}
#glass, #verde{background: #099951;}
#speakers, #amarillo{background: #f7c33e;}
#agenda {background: #f04d37;}
#sponsors{background: #5780bd;}
#registrate{background: #099951;}


.contenedor{
	display: inline-block;
    width: 80%;
	text-align: center;
	position: relative;
	top: 65px;
	margin-right: 40px;
	
	
}
.detalle{
	width: 80px;
	height: 100%;
	position: fixed;
	left: 88%;
	z-index: 0;
}
.barra{
	display: inline-block;
	width: 12px;
	height: 100%;
}

.sector{
	margin: 0px;
	width: 49%;
	max-height: 100%;
	display: inline-block;
}
/**+INFO**/
#info-content{
	text-align: center;
	height: 670px;
}

#info-content .tituloGlobo{
	background: #5780bd;
	border-radius: 5px;
	font-size: 32px;
	padding: 10px 0px 10px 0px;
	margin: 10% 10px 10% 10px;
	font-weight: bold;
}
#info-content img{
	width: 100%;
}
#info-content .sector p{
	margin: 10% 30px 10% 30px;
	text-align: justify;
}
/**+GLASS**/
#glass-content{
	text-align: center;
	height: 700px;
}
#glass-content .tituloGlobo{
	background: #099951;
	border-radius: 5px;
	font-size: 32px;
	padding: 10px 0px 10px 0px;
	margin: 10% 10px 10% 10px;
	font-weight: bold;
}
#glass-content .sector p{
	margin: 10% 30px 10% 30px;
	text-align: justify;
}
#glass-content .sector p a{
	color: #f04d37;
	text-decoration: none;
}
#glass-content img{
	border-radius: 15px;
	margin: 10px 10px 10px 0px;
}
#glass-content #glass2{	width: 95%;}
#glass-content div #glass1, #glass-content div #glass6{width: 100%}
#glass-content #glass7{	width: 45%;}


/**+SPEAKERS**/
#speakers-content{
	text-align: center;
	height: 700px;
}
#speakers-content .tituloGlobo{
	background: #f7c33e;
	border-radius: 5px;
	font-size: 32px;
	padding: 10px 0px 10px 0px;
	margin: 5% 10px 0% 10px;
	font-weight: bold;
}
strong{
	color: #f04d37;
}
#speakers-content .sector img{
	width: 200px;
	border-radius: 50%;
	margin: 20px 20px 20px 20px;
	display: inline-block;
}
#speakers-content .datosSpeaker{
	width: 50%;
	display: inline-block;
}
/**+AGENDA**/
#agenda-content{
	text-align: center;
	height: 700px;
}

/**+SPONSORS**/
#sponsors-content{
	text-align: center;
	height: 700px;
}

/**+REGSITRATE**/
#registrate-content{
	text-align: center;
	height: 700px;
}

@media screen and (max-width:1365px){
/**PORTADA**/	
	#devLogo, #busLogo{
		padding-top: 10%;
	}
	#conteoPortada{
		padding-top: 5%;
	}
	.num{
	margin: 6% 0% 0% 0%;
	}
	#backlogos{
	top: 14%;
	}
	#conteoPortada{
	margin: 0px; 
	}
	.redes{
	display: inline-block;
	padding-top: 5%; 
	width: 40%;
	}

}


@media screen and (max-width:800px){
/**PORTADA**/
.detalle{
	display: none;
}
.sector{
	width: 100%;
	
}

}